body {
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 16px 16px 40px 16px;
  max-width: 320px;
  text-align: center;
}

img {
  display: block;
  margin: auto;
  border-radius: 10px;
}

h5 {
  color: rgb(31, 49, 79);
  font-size: 15px;
}

p {
  color: rgb(104, 119, 141);
}

.attribution {
  font-size: 11px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
