body {
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 16px 16px 40px 16px;
  max-width: 288px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 24px;
}

.card h2 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: rgb(31, 49, 79);
  /* width: 256px;
  height: 52px; */
  font-size: 20px;
  margin: auto;
  padding: 0 16px 0 16px;
  text-align: center;
}

.card p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: rgb(104, 119, 141);
  /*width: 256px;
  height: 61px;*/
  font-size: 15px;
  padding: 0 16px 16px 16px;
}

.attribution {
  color: rgb(104, 119, 141);
  font-size: 11px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
