body {
  background-color: #d5e1ef;
}

img {
  border-radius: 20px;
}

h5 {
  color: rgb(31, 49, 79);
  font-size: 15px;
  text-align: center;
}

p {
  color: rgb(104, 119, 141);
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
